.blogCard {
  height: 250px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  background-color: #303e46;
}

.date {
  font-size: 11px;
  color: gray;
}

.author,
.continue {
  cursor: pointer;
  color: #60cccf;
}