.container {
  margin-top: 70px;
}

.coverPhotoContainer {
  height: 50vh;
  margin-bottom: 50px;
}

.profileImage {
  position: absolute;
  bottom: 0;
  left: 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
  }
}