.container {
  margin-top: 70px;
}

.coverPhotoContainer {
  height: 50vh;
}

.profileImage {
  position: absolute;
  top: 12vh;
  align-items: center;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex-wrap: wrap;

  img {
    height: 100px;
    width: 100px;
  }
}