.parentContainer {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #1d272c;
  z-index: 2;
  transition: top 0.5s;
}

.parentContainerHidden {
  top: -70px;
}

.container {
  position: relative;
  height: 70px;
  outline: none;

  button {
    padding: 0 10px;
  }
}

.searchBtn {
  height: 40px;
  color: #60cccf;
  background: #303e46;
}

.formFix div {
  margin: 0;
}

.menuBtn {
  display: block;
  padding: 0 10px;
}

.menuIcon {
  display: block;
  width: 25px;
  height: 3px;
  background: #ffffff;
  margin-bottom: 5px;
}

.menuIcon:last-child {
  margin-bottom: 0;
}

.navList {
  width: 300px;
  position: absolute;
  right: 0;
  top: 70px;
  background: #303e46;
  margin-top: 1px;
  display: none;
}

.navItems {
  list-style: none;
  padding-left: 0;
  font-size: 20px;
  margin: 0;
}

.navItems li {
  padding: 20px;
  border-bottom: 1px solid #f3f3f3;
  position: relative;
  cursor: pointer;
}

.navItems li span {
  position: absolute;
  top: -3px;
}

.navItems li:last-child {
  border-bottom: none;
}

.searchForm {
  position: relative;
  margin: auto;
  width: 70%;
}

.searchForm div {
  width: 100%;
}

.searchList {
  background: #303e46;
  position: absolute;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  height: auto;
  overflow: auto;
}

.menuClose {
  display: none;
  font-size: 40px;
  color: lightgray;
  padding: 0 10px;
}

.searchForm button {
  border: 1px solid lightgray;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
}

.activeSearch {
  background: rgba(96, 204, 207, 0.2);
}

.hoverSearch:hover {
  background: rgba(96, 204, 207, 0.1);
}

@media only screen and (min-width: 1024px) {
  .navList {
    position: relative;
    top: 0;
    margin-top: 0;
    min-height: fit-content;
    display: block;
    background: #1d272c;
    width: fit-content;
  }

  .navItems li {
    padding: 10px;
    border-bottom: none;
  }

  .menuBtn {
    display: none;
  }

  .menuClose {
    display: none;
  }

  .navItems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    font-weight: bold;
    margin: 0;
    font-size: 15px;
  }

  .searchForm {
    width: 50%;
  }
}