.blog {
  width: 100%;
}

.content {
  top: 15vh;
}

.blogBanner {
  height: 40vh;

  h1 {
    z-index: 1;
    height: fit-content;
    display: flex;
    margin: 0;
  }
}

@media only screen and (min-width: 1025px) {
  .blog {
    width: 80%;
    margin: auto;
  }

  .blogBanner {
    box-shadow: 0 -10px 15px 0 #303e46;
  }

  .content {
    box-shadow: 0 0 15px 0 #303e46;
  }
}