.container {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: #60cccf;
  height: 60px;
  padding: 4px 14px;
  border-radius: 50%;
  font-size: 39px;
  color: #303e46;
  cursor: pointer;
  width: 60px;
  text-align: center;
}

.container {
  box-shadow: 0 0 0 0 rgba(#60cccf, .5);
  border-radius: 50%;
  animation: pulse 1.5s 10;
}

.container:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    transform: scale(.90);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#60cccf, 0);
  }

  100% {
    transform: scale(0.90);
    box-shadow: 0 0 0 0 rgba(#60cccf, 0);
  }
}