.container {
  margin-top: 70px;
  margin-bottom: 50px;
}

.title,
.content {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  color: #ffffff;
}

.content {
  height: 60vh;
}

.editors button {
  background: #ffffff;
  border: 1px solid #60cccf;
  color: #60cccf;
  padding: 5px 15px;
  outline: none;
}

.title::-webkit-scrollbar,
.content::-webkit-scrollbar {
  width: 1px;
}

.title::-webkit-scrollbar-track,
.content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.title::-webkit-scrollbar-thumb,
.content::-webkit-scrollbar-thumb {
  background: #888;
}

.createBanner {
  height: 40vh;
  box-shadow: 0 -10px 15px 0 #303e46;

  h1 {
    z-index: 1;
    height: fit-content;
    display: flex;
    margin: 0;
  }
}

.editors {
  width: 100%;
  position: relative;
}

.formBody {
  top: 31vh;
  box-shadow: 0 0 15px 0 #303e46;
}

@media only screen and (min-width: 1025px) {
  .editors {
    width: 80%;
    margin: auto;
  }
}