.blogCard {
  border-radius: 8px;
  background-color: #303e46;
}

.blogCardContent {
  overflow: auto;
  height: 240px;
  width: 100%;
}

.date {
  font-size: 11px;
  color: gray;
}

.content {
  display: inline;

  p {
    margin: 0;
  }
}

.author,
.continue {
  cursor: pointer;
  color: #60cccf;
}