.arrow {
  border: solid black;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 2px;
}

.coverPhotoShade {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(180deg, rgba(29, 39, 44, .5), #1d272c);
  top: 0;
  left: 0;
}

.banner {
  position: relative;
  background-image: url('https://picsum.photos/id/8/700/200');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.cursor-pointer {
  cursor: pointer;
}

.color-primary {
  color: #60cccf;
}

.primary-bg {
  background: #60cccf;
}

.color-secondary {
  color: #303e46;
}

.secondary-bg {
  background: #303e46;
}

.primary-border {
  border: 1px solid #60cccf;
}

.text-small {
  font-size: 11px;
}

.text-medium {
  font-size: 14px;
}

.pill {
  background-color: #43d5cd;
  border-radius: 15px;
  line-height: 16px;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 10px;
  color: #1d272c;
  width: auto;
  margin-right: 8px;
}

.banner-body-margin {
  margin-top: -15vh;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 0px 0px 12px 0px;
  text-align: center;
  color: rgba(255, 255, 255, 0.48);
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  box-sizing: content-box;
  position: relative;
  margin-right: 20px;
  font-style: normal;
  font-weight: 700;
  outline: none;
  border: none;
}

.active-tabs::before {
  content: '';
  display: block;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 3px;
  background: #60cccf;
  border-radius: 2px;
  z-index: 1;
}

.active-tabs {
  color: white;
}

.scrollBar::-webkit-scrollbar {
  width: 1px;
}

.scrollBar::-webkit-scrollbar-track {
  background: #1d272c;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #60cccf;
}

@media only screen and (min-width: 600px) {
  .banner-body-margin {
    position: sticky;
    top: 20px;
    height: calc(100vh - 20px);
    overflow: hidden;
  }

  .cardsContainer {
    height: calc(100vh - 70px);
    overflow: auto;
  }
}